<!DOCTYPE html>
<html>
<head>
<title>Sample Jijna template</title>
{% script %}
window.addEventListener('load',function(){
  document.querySelector('#timeDiv').appendChild(
    document.createTextNode(new Date()));
},false);
console.log('foo');
{% endscript %}
</head>
<body>
the time is <div id='timeDiv'></div>
</body>
</html>
